#info{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    margin: 25px;
}

.new-books-section{
    margin: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--bg-color);
    margin-right: 30px;
}

.ctnr{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.header__nav{
    justify-content: space-between;
    gap: 20px;
}

.footer__nav{
    flex-direction: column;
    align-items: baseline;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
    padding: 20px 15px;
    border-radius: 20px;
    background: var(--bg-color);
}

.slider__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: large;
}

.hello-section{
    flex-direction: column;
    width: 100%;
    background: var(--secondary-color);
    padding: 20px 0;
}

.slider-controls{
    width: 400px;
    border-radius: 20px;
    background: var(--bg-color);
    padding: 10px;
    gap: 30px;
}

.func-list{
    list-style: circle; 
    display: flex; 
    flex-direction: column; 
    margin-left: 20px;
    font-size: medium;
    text-align: justify;
}

.info__content{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.sign_in_section{
    flex-direction: column;
}

.sign-in__forgot{
    color: var(--text-color);
}

.new-books__list{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
}

.book{
    height: 550px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin: 10px;
    padding: 20px;
    transition: 0.3s;
    border-radius: 13px;
}

.book:hover{
    box-shadow: 1px 1px 5px rgb(0,0,0, 0.3);
    transform: scale(1.1);
}

.book__title{
    color: var(--primary-color);
    font-size: large;
    font-weight: bold;
    transition: 0.3s;
}

.book__title:hover{
    color: var(--accent-color);
    cursor: pointer;
    transform: scale(1.05);
}


.book__description {
    white-space: nowrap;
    overflow: hidden;         
    text-overflow: ellipsis; 
    width: 200px;  
}

.book__img{
    width: 200px;
}

.search__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    width: 60%;
    margin: 20px auto;
    border-radius: 16px;
    gap: 30px;
    background: var(--secondary-color);
}

.search__input{
    padding: 10px;
    width: 70%;
}

.search__button{
    width: 20%;
}

.review-section{
    padding: 20px ;
    background: var(--secondary-color);
    flex-direction: column;
}
.review{
    background: var(--bg-color);
    flex-direction: column;
    width: 400px;
    height: 320px;
    padding: 20px;
    border-radius: 20px;
}

.review__content{
    flex-direction: column;
}

.review__date{
    color: var(--primary-color);
}

.rev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stars-list img {
    width: 30px;
    height: 30px;
}

.avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.review__controls{
    width: 400px;
    border-radius: 20px;
    background: var(--bg-color);
    padding: 10px;
    gap: 30px;
}

.news-form{
    background: var(--accent-color);
    height: 450px;
    justify-content: center;
    position: relative;
    
}
.news-form__label{
    width: 70%;
    color: var(--bg-color);
    
}

.news-form h3{
    position: absolute;
    top: 30px;
    color: var(--bg-color);
}

.news-form__input{
    background: var(--primary-color);
    color: var(--bg-color);
    border: none;
    outline: none;
}

.news-form__chek-input {
    width: 20px;
    height: 20px;
}

.news-form img{
    position: absolute;
    bottom: -25px;
    right: 125px;
    object-fit: contain;
}

.news-form__button{
    position: absolute;
    bottom: 40px;

}

.news-form__block{
    flex-direction: column;
    position: absolute;
    top: 100px;
}

