#info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 25px;
}

#new-books{
    margin: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--bg-color);
    margin-right: 30px;
}

.slider{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
    padding: 20px 12px;
    border-radius: 20px;
    background: var(--secondary-color);
}

.slide-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-size: large;
}

.about{
    list-style: circle; 
    display: flex; 
    flex-direction: column; 
    margin-left: 20px;
    font-size: medium;
    text-align: justify;
}

.info-text{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.info-video{
    flex: 1;
}

.pass-link{
    color: var(--text-color);
}

.books-list{
    margin: 30px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
}

.book-container{
    height: 550px;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin: 10px;
    padding: 20px;
    transition: 0.3s;
    border-radius: 13px;
}

.book-container:hover{
    box-shadow: 1px 1px 5px rgb(0,0,0, 0.3);
    transform: scale(1.1);
}

.book-container p {
    white-space: nowrap;
    overflow: hidden;         
    text-overflow: ellipsis; 
    width: 200px;  
}

.book-container img{
    width: 200px;
}

.search-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 12px;
    width: 60%;
    margin: 20px auto;
    border-radius: 16px;
    gap: 30px;
    background: var(--secondary-color);
}

.search-input{
    padding: 10px;
    width: 70%;
}

.search-btn{
    width: 20%;
}

.review-list{
    justify-content: space-evenly;
    align-items: center;
    background: var(--secondary-color);
    padding: 20px;
    margin: 30px 0;
}

.review-container{
    background: var(--bg-color);
    display: flex;
    justify-content: center;
    align-items: start;
    gap: 10px;
    width: 400px;
    height: 320px;
    padding: 20px;
    border-radius: 20px;
}

.rev-info{
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: justify;
    gap: 10px;
}

.rev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stars-list{
    display: flex;
    justify-content: center;
}

.stars-list img {
    width: 30px;
    height: 30px;
}

.avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.news-form{
    background: var(--accent-color);
    height: 450px;
    justify-content: center;
    position: relative;
    
}
.news-form label{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 70%;
    color: var(--bg-color);
    
}

.news-form h3{
    position: absolute;
    top: 30px;
    color: var(--bg-color);
}

.news-form input{
    background: var(--primary-color);
    color: var(--bg-color);
    border: none;
    outline: none;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
}

.news-form img{
    position: absolute;
    bottom: -25px;
    right: 125px;
    object-fit: contain;
}

.news-form button{
    position: absolute;
    bottom: 40px;

}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 100px;
}

